DATABASE_URL=postgresql://trinexta:dev_password@localhost:5432/trinexta                                                                                     
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SANITY_PROJECT_ID=                                
NEXT_PUBLIC_SANITY_DATASET=production                                                                                                                       
SANITY_STUDIO_DATASET=
SANITY_API_TOKEN=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_FROM_EMAIL=contact@trinexta.com

# Google Places API
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=

# Google Business Profile
GOOGLE_BUSINESS_CLIENT_ID="ton_client_id"
GOOGLE_BUSINESS_CLIENT_SECRET="ton_client_secret"
GOOGLE_BUSINESS_REFRESH_TOKEN="ton_refresh_token"
GOOGLE_BUSINESS_ACCOUNT_ID="ton_account_id"
GOOGLE_BUSINESS_LOCATION_ID="ton_location_id"