DATABASE_URL=postgresql://trinexta:dev_password@localhost:5432/trinexta                                                                                                                                                                                                                              
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SANITY_PROJECT_ID=                                
NEXT_PUBLIC_SANITY_DATASET=production                                                                                                                                                                                                                                                                 
SANITY_STUDIO_DATASET=
SANITY_API_TOKEN=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_FROM_EMAIL=contact@trinexta.com
SUPPORT_EMAIL="support@trinexta.fr"

# Google Places API
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=

# Google Tag Manager (Analytics & RGPD)
NEXT_PUBLIC_GTM_ID=